<div class="col-xs-18 col-sm-6 col-md-3">
  <div class="thumbnail">
    <p> Title: {{results.channel.item.title}} </p>
    <p> Temperature: {{results.channel.item.condition.temp}} </p>
    <p> Text: {{results.channel.item.condition.text}} </p>
  </div>
</div>
