<div class="col-xs-18 col-sm-6 col-md-6 weather-box">
  <div class="thumbnail" style="border: none;">
    <p> {{results.channel.item.title}} </p>
    <p> Temperature: {{results.channel.item.condition.temp}} </p>
    <p> Description: {{results.channel.item.condition.text}} </p>
  </div>
</div>
